@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.badge-xs {
	position: absolute;
	top: -1px;
	right: -1px;
	font-size: 10px;
	background: #d8e7fc;
	padding: 2px;
	color: #333;
}
