<section data-ng-controller="ChecklistsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Checklists</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="checklist in filteredChecklists | orderBy: 'category.name' | groupBy: 'category.name'">
            <a data-ng-href="#!/browse/{{checklist.category._id}}" ng-show="checklist.group_by_CHANGED">
                <h3 ng-show="checklist.group_by_CHANGED">{{checklist.category.name}}</h2>
            </a>
            <a data-ng-href="#!/checklists/{{checklist._id}}" >
                <h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                <small><span class="inline label label-default" ng-show="checklist.status == 'draft'">{{checklist.status}}</span></small>
                <small class="list-group-item-text cklst_item">
                    Posted on
                    <span data-ng-bind="checklist.created | date:'medium'"></span>
                    in
                    <span data-ng-bind="checklist.category.name"></span>
                    <hr class="cklsts_separator">
                </small>
            </a>
        </div>
    </div>
    
    <pagination ng-model="currentPage" total-items="checklists.length" max-size="maxSize" boundary-links="true">
            </pagination>
            
    <div class="alert alert-warning text-center" data-ng-hide="!checklists.$resolved || checklists.length">
    	No Checklists yet, why don't you <a href="/#!/checklists/create">create one</a>?
    </div>
</section>
