<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" style="background-color:transparent !important;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="CheckIt" class="img-responsive text-center" src="modules/core/img/brand/check_jumbo_black.png" style="width:320px;"/>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The Software Inspection Tool
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/learn">Start Now</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Is so easy, create and share your Checklists</h2>
		<p>This application pretend to be a tool to software inspections, 
		giving the user the facilities to search, create and share checklists for a product or process. 
		There are many software tools for quality assurance (QA) but no one let user create its own checklist 
		from a base of community checklists and even more, let them share its creation with others.</p>
		<p>Com'on! What are you waiting for to get it started?.</p>
		<ul>
			<li>
				If you are new click <a href="/#!/signup">Signup</a>, otherwise <a href="/#!/signin">Signin</a> to get started.
			</li>
			<li>
				<a href="/#!/browse">Browse</a> existent checklists in our Categories.
			</li>
			<li>
				Search by key-words.
			</li>
			<li>
				<a href="/#!/learn">Learn</a> how to create well-formed chaklists.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	
</section>