<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The Software Inspection Tool
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Start Now</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Is so easy, create and share your Checklists</h2>
		<p>This application pretend to be a tool to software inspections, 
		giving the user the facilities to search, create and share checklists for a product or process. 
		There are many software tools for quality assurance (QA) but no one let user create its own checklist 
		from a base of community checklists and even more, let them share its creation with others.</p>
		<p>Com'on! sing up and start creating your Checklists.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Browse existent checklists in our Categories.
			</li>
			<li>
				Search by key-words.
			</li>
			<li>
				Learn how to create well-formed chaklists.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	
</section>