<section data-ng-controller="HomeController">
	<div>
		<h2>Is so easy, create and share your Checklists</h2>
		<img src="modules/core/img/check.png" alt="CheckIt" style="float: right; overflow: auto;">
		<h3>But first. What is a Checklist?</h3>
		<p>It is a guide, a valuable tool to reduce fails through the compensation of the possible human limits of memory and attention. A checklist helps to guarantee the coherence and integrity of a task.</p>
		
		<h3>How to create a well-formed checklist?</h3>
		<p>
			The perfect checklist is the one that fit to your own needs. However there are some guidelines in order to get a well-formed checklist.
			For that reason here is a checklist to create a checklist.
		</p>
		
		<img src="modules/core/img/learn/checklist_for_checklist.png" alt="CheckIt" style="float: center;">
		<em>Created by Dr. Atul Gawande, the Brigham and Women's Hospital Center for Surgery and Public Health Dissemination Team, and Dan Boorman of Boeing.</em>
		
		<h3>Now what?</h3>
		<p>Ok, now you know how to create a good checklist. So, hands on work.</p>
		<ul>
			<li>
				If you are new click <a href="/#!/signup">Signup</a>, otherwise <a href="/#!/signin">Signin</a> to get started.
			</li>
			<li>
				Search by key-words or just <a href="/#!/browse">Browse</a> existent checklists in our Categories.
			</li>
		</ul>
	</div>
	
</section>