<section ng-app="users">
    <section data-ng-controller="ChecklistsController" data-ng-init="findFavorites()">
        <div class="page-header">
            <h1>My Favorites</h1>
        </div>
        <div class="list-group">
            <div data-ng-repeat="checklist in filteredChecklists | orderBy: 'category.name' | groupBy: 'category.name'">
                <a data-ng-href="#!/browse/{{checklist.category._id}}" ng-show="checklist.group_by_CHANGED">
                    <h3 ng-show="checklist.group_by_CHANGED">{{checklist.category.name}}</h2>
                </a>
                <small><span class="inline label label-default" ng-show="checklist.status == 'draft'">{{checklist.status}}</span></small>
                <a data-ng-href="#!/checklists/{{checklist._id}}" class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="checklist.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="checklist.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
            </a>
            </div>
        </div>
        
        <pagination ng-model="currentPage" total-items="checklists.length" max-size="maxSize" boundary-links="true">
                </pagination>
                
        <div class="alert alert-warning text-center" data-ng-hide="!checklists.$resolved || checklists.length">
        	No favorite Checklists yet, let's <a href="/#!/browse">Browse</a>
        </div>
    </section>    
</section>
