<section data-ng-controller="DashboardController" data-ng-init="init()">
    <div>
        <h1><em style="color: #009900;">{{user.displayName}}</em> <small>Dashboard</small></h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <!-- Favorite (top 10, visited DESC) -->
                <div class="row">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>My Favorite Checklists</strong></div>
                        <div class="bg-info" ng-show="favorites === undefined || favorites.length == 0">
                            <p class="text-center"><em> You have not favorites yet </em></p>
                        </div>
                        <div class="panel-body list-group" ng-show="favorites != undefined && favorites.length > 0">
                            <div data-ng-repeat="checklist in favorites | limitTo:5 ">
                                <a data-ng-href="#!/checklists/{{checklist._id}}" >
                        			<h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                                    <small><span class="inline label label-default" ng-show="checklist.status == 'draft'">{{checklist.status}}</span></small>
                        			<small class="list-group-item-text cklst_item">
                        				Posted on
                        				<span data-ng-bind="checklist.created | date:'medium'"></span>
                        				by
                        				<span data-ng-bind="checklist.user.displayName"></span>
                        				in
                        				<span data-ng-bind="checklist.category.name"></span>
                        				<hr class="cklsts_separator">
                        			</small>
                                </a>
                            </div>
                            <a ng-show="favorites.length > 5" data-ng-href="#!/favorites" >More...</a>
                        </div>
                    </div>
                </div>
                <!-- Collaborating On checklists -->
                <div class="row" ng-show="collaboratingOn && collaboratingOn.length > 0">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Collaborating On</strong></div>
                        <div class="panel-body list-group" ng-show="collaboratingOn != undefined && collaboratingOn.length > 0">
                            <div data-ng-repeat="checklist in collaboratingOn">
                                <a data-ng-href="#!/checklists/{{checklist._id}}" >
                                    <h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                                    <small><span class="inline label label-default" ng-show="checklist.status == 'draft'">{{checklist.status}}</span></small>
                                    <small class="list-group-item-text cklst_item">
                                        Posted on
                                        <span data-ng-bind="checklist.created | date:'medium'"></span>
                                        in
                                        <span data-ng-bind="checklist.category.name"></span>
                                        <hr class="cklsts_separator">
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- My checklist (top 10, visited DESC) -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>My Checklists</strong></div>
                        <div class="bg-info" ng-show="myChecklists === undefined || myChecklists.length == 0">
                            <p class="text-center"><em> Don't you have any checklist yet?! </em></p>
                            <p class="text-center">Com'on <a href="#!/checklists/create"> create one! </a></p>
                        </div>
                        <div class="panel-body list-group" ng-show="myChecklists != undefined && myChecklists.length > 0">
                            <div data-ng-repeat="checklist in myChecklists | limitTo:10">
                                <a data-ng-href="#!/checklists/{{checklist._id}}" >
                        			<h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                                    <small><span class="inline label label-default" ng-show="checklist.status == 'draft'">{{checklist.status}}</span></small>
                        			<small class="list-group-item-text cklst_item">
                        				Posted on
                        				<span data-ng-bind="checklist.created | date:'medium'"></span>
                        				in 
                        				<span data-ng-bind="checklist.category.name"></span>
                        				<hr class="cklsts_separator">
                        			</small>
                                </a>
                            </div>
                            <a ng-show="myChecklists.length > 10" data-ng-href="#!/checklists" >More...</a>
                        </div>
                    </div>
                </div>
                <!-- Recently visited (top 10, visited DESC) -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Recently Visited Checklists</strong></div>
                        <div class="bg-info" ng-show="visitedChecklists === undefined || visitedChecklists.length == 0">
                            <p class="text-center"><em> Don't you have seen any checklist yet?! </em></p>
                            <p class="text-center"><a href="#!/browse"> Browse our catalog! </a></p>
                        </div>
                        <div class="panel-body list-group" ng-show="visitedChecklists != undefined && visitedChecklists.length > 0">
                            <div data-ng-repeat="history in visitedChecklists | filter: { checklist : { status : 'published' } }">
                                <a data-ng-href="#!/checklists/{{history.checklist._id}}" >
                        			<h4 class="list-group-item-heading" data-ng-bind="history.checklist.name"></h4>
                        			<small class="list-group-item-text cklst_item">
                        				Visited on
                        				<span data-ng-bind="history.visited | date:'medium'"></span>
                        				Posted by
                        				<span data-ng-bind="history.checklist.user.displayName"></span>
                        				<hr class="cklsts_separator">
                        			</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2 well well-lg" style="background-color: #ffffcc; margin-left: 10px;">
                <!-- Recently added (top 10, updated DESC) -->
                <div class="row">
                    <h4>Recently Added Checklists</h4>
                    <div class="list-group">
                        <div data-ng-repeat="checklist in addedChecklists">
                            <a data-ng-href="#!/checklists/{{checklist._id}}" >
                			    <h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                    			<small class="list-group-item-text cklst_item">
                    				Posted on
                    				<span data-ng-bind="checklist.created | date:'MM/dd hh:mm a'"></span>
                    				by
                    				<span data-ng-bind="checklist.user.displayName"></span>
                    				in
                    				<span data-ng-bind="checklist.category.name"></span>
                    				<hr class="cklsts_separator">
                    			</small>
                            </a>
                        </div>
                    </div>
                    <br/>
                    <a data-ng-href="#!/browse" >More...</a>
                </div>
            </div>
        </div>
    </div>
    
</section>
